*{
    padding:0;
    margin:0;

}
header{
    /* background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./img/Thapar_building.jpeg'); */
    background-image: url('./img/1_Thapar_Student_Residencies.jpg');
    height: 80vh;
    background-size:cover ;
    background-position: center;
}
body {
	background-color: #373737;
}
canvas{
	/* position: absolute; */
	left: 0px;
	top: 0px;
		width: 100%;
        height: 100%;
        z-index: -999!important;
}
ul{
    float:right;
    list-style-type:none ;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color:black;

    padding: 5px 20px;
    border: 1px solid transparent;
}
ul li a:hover{
   background-color:#97614B;
   transition: 0.4s;
   border-radius:3px;
}
.main .name{
    /* color:white; */
    float:left;
    margin: 20px 0 20px 20px;
    border: 3px solid black;
    border-radius:2px;
    font-size: 30px;
    font-style: italic;
    padding: 5px ;
  
}
.main{
    max-width: 1200px;
    margin :auto;
}
.title{
    width:50%;
position:absolute;
top:35%;
left:50%;
transform: translate(-50%,-50%);
color:black;
text-align:center;

}
.title h4{
    font-size: 35px;
}
.title h1{
 text-align: center;
 font-size: 60px;
 }
.bg{
    color:white;
    margin:20px;
    padding:20px;
    max-width: 1300px;
    margin :auto; 
    position: relative;
    margin-top: -50% ;
    /* z-index :1000; */
}
.about{
    margin: 5px;
    padding:20px ;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}
.about p{
    font-weight: 200;
}
.about h2{
    padding:25px 20px 10px 25px;
    font-size: 60px;

}
.about p{
    padding:30px;
}
.cards{
    margin-top:50px;
    padding:10px 5px 10px 30px ;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;  
    margin-bottom: 50px;
}
.cd{
    color: white;
    background-color:rgba(128, 128, 128, 0.8);
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 15px; 
        margin: 2%;
        height: 15%;
        text-align: center;
        font-size: 18px;
      
}
.image img{
width: 100%;
height:100%;
border-top-right-radius: 15px;
     border-top-left-radius: 15px;
}
.cd p{
    padding-top: 5px ;
}
.cards button{
    font-size:20px;
    font-weight: 700;
    margin-top:10px;
    margin-bottom: 10px;;
    padding: 4px ;
    border-radius: 5px;
    background-color: white;
}
.cards button:hover{
    background-color:#97614B;
    transition: 0.4s;
}
footer{

    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 30px;
}
footer h1{
    padding-top: 20px;
    text-align: center;
    
}
footer .logo img{
    margin-left:10px;
    width: 30px;
    height: 30px;
}
.contact{
 padding-left: 30px;
 padding-right:30px;
 display: inline-block;
}
.contact .location{
    float:left;
padding-left:500px;
}
.contact .number{
padding-left:250px ;
    float: right;
}
.location p{
    padding-top:10px;
}







