*{
    margin:0;
    padding:0;
   
}
body{
    background-image: url('../img/Thapar_building.jpeg');
    background-position:center;
    background-repeat: no-repeat ;
background-size:cover;
margin-top:-20px;
width: 100%;

}
header{
    padding-top: 15px ;
    height: 60px;
    width:100%;
    color: white;
    background:rgba(0, 0, 0, 0.9);
}
header h1{
    position:absolute;
    margin-left:2%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    float:left;
}
header ul{
    width:auto;
    float:right;
    margin-top:8px;
    
}
header ul li{
  font-size:20px ;
    display: inline-block;
    padding: 15px 40px;
    /* font-size:1.2vw; */
}
header a{
    text-align:center;
    color:#fff;
    text-decoration: none;
}
a:hover{
   color:#97614B;
   transition: 0.4s;
}
body img{
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 0;
}
.dashboard{
    width:15%;
    float:left;
    background:rgba(0, 0, 0, 0.9);
   opacity: 0.9;
    color: white;
    margin:25px;
    border-radius: 10px;
}
.dashboard ul{
   list-style-type: none;
}
.dashboard li{
    border-bottom : 3px solid white;
    margin:10px ;
    padding: 10px;
}
.dashboard span{
    padding:5px;
    font-size:20px ;
}
.dashboard img{
    margin-bottom:1px;
}
.events{
 margin-right: 18%;
    margin-left:20%;
}
.events h1{
    text-align: center;
    font-size: 50px;
    padding-top:30px;
    color:black;
}
.events .post{
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    opacity: 0.9;
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
}
.events .post .p{
    margin: 50px;
}
.events .insta{

    float:right;
    
}
.insta span {
    padding-bottom: 10px;
margin-bottom: 0px ;
    font-weight: 300;
}
.insta img{
  margin-top:1px;
}
.post p:first-child {
    font-style: italic;
    font-size: 30px;
    padding: 4px;
    font-weight: 1000;
}