*{
    margin: 0px;
    padding: 0px;
   }
body
{
    background-image:url('../img/1_Thapar_Student_Residencies.jpg') ;
    background-repeat: no-repeat ;
height: 100%;
background-position:center;
background-size:cover;
margin:7px;

}


header div{
    margin-right: 80%;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:10px ;
    background: rgba(0, 0, 0, 0.9);
   opacity: 1;
   border-radius:5px;
}
header h2{
    padding:10px;
    color:#fff;
    opacity: 1;
}
button{
    margin:20px;
    background-color: #97614B;
    padding: 8px;
    border: 3px solid #97614B;
    border-radius :10px;
    font-weight: bold;
    color: #fff;
    float: right;


}
section{
 width:100%;

}
.info{
margin: 10px 100px 20px 100px;
border-left:10px  solid  #97614B;
 border-radius:25px;
  opacity: 1; 
  background: rgba(0, 0, 0, 0.9); 
height: auto;
overflow:auto;

}
.name{
background-color: #97614B;
margin-right: 85%;
margin-left: 15px;
padding:10px 20px 10px 20px ;
border-radius :0 0 10px 10px ;
}
.info a{
    text-decoration: none;
    color: white;
}
.info-text {

 
    float:left; 
    width:80%;
    height:20%;
}
.info-text p{
    font-weight: 200;
    font-size: 30px;
    padding: 20px 10px 10px 10px;

}
.info .img-title img{
  
    float: right;
    width:20%;
    height: 300px;

} 

.logos{
    width:50%; 
    padding: 5px;
}
.logos img{
    padding-top: 15px;
    width: 25px;
    height: 25px;
    /* float:left; */
}
.web-logo img{
    margin-left:5px;

}


.main{
    padding:20px ;
    margin:30px;
   }
   
.card
{

       background-color:#fff;
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 0 0 8px 8px; 
        margin: 2%;
        height: 15%;
}

.image img{
     width: 100%;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
}
   
.card .title{
    background: rgba(0, 0, 0, 0.9);
     text-align: center;
     padding: 10px;
     border-radius:0 ;
     
 }
   
 h1{
     font-size: 20px;
    }

 